<div class="container-fluid">
    <div class="row">
        <!-- nav toolbar for internal navigation -->
        <div class="btn-toolbar mx-2 py-1 mb-1  " role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-1" role="group" aria-label="First group">

                <button type="button" class="btn btn-light" style="font-size: 14px;">
                    <i class="bi bi-person-plus pe-1" style="font-size: 16px;"></i>
                    User management
                </button>
            </div>
            <div class="btn-group m-1" role="group" aria-label="Second group">
                <button (click)="changeTab('departments')" 
                [ngClass]="currentComponent == 'departments'? 'btn  custom-hover' : 'btn btn-light'" type="button" style="font-size: 14px;">
                    <i class="bi bi-house pe-1" style="font-size: 16px;"></i>
                    Departments management
                </button>
            </div>
            <div class="btn-group m-1" role="group" aria-label="Second group">
                <button  (click)="changeTab('faculties')" 
                [ngClass]="currentComponent == 'faculties'? 'btn  custom-hover' : 'btn btn-light'" type="button" style="font-size: 14px;">
                <i class="bi bi-buildings pe-1" style="font-size: 16px;"></i>
                Faculties management
                </button>
            </div>
            <div class="btn-group m-1" role="group" aria-label="Second group">
                <button class="btn btn-light" (click)="changeTab('designations')" 
                [ngClass]="currentComponent == 'designations' ? 'btn custom-hover' : 'btn btn-light'" type="button" style="font-size: 14px;">
                <i class="bi bi-duffle pe-1" style="font-size: 16px;"></i>    
                Designations management
                </button>
            </div>

           

            

            
            <div class="btn-group m-1" role="group" aria-label="Second group">
                <button class="btn btn-light" type="button" style="font-size: 14px;">
                    <i class="bi bi-people pe-1" style="font-size: 16px;"></i>
                    Roles management
                </button>
            </div>
            <div class="btn-group m-1" role="group" aria-label="Second group">
                <button class="btn btn-light" type="button" style="font-size: 14px;">
                    <i class="bi bi-lock pe-1" style="font-size: 16px;"></i>
                    Priviledges management
                </button>
            </div>

            <div class="btn-group m-1" role="group" aria-label="Second group">
                <button class="btn btn-light" type="button" style="font-size: 14px;">
                    <i class="bi bi-display pe-1" style="font-size: 16px;"></i>

                    Items management
                </button>
            </div>

            <div class="btn-group m-1" role="group" aria-label="Second group">
                <button class="btn btn-light" type="button" style="font-size: 14px;">
                    <i class="bi bi-p-circle pe-1" style="font-size: 16px;"></i>

                    Procurement management
                </button>
            </div>
            <div class="btn-group m-1" role="group" aria-label="Second group">
                <button class="btn btn-light" type="button" style="font-size: 14px;">
                    <i class="bi bi-shop-window pe-1" style="font-size: 16px;"></i>

                    Stores log management
                </button>
            </div>



        </div>


        <div class="row">
            <div class="col-12"  *ngIf="currentComponent == 'designations'" >
              <app-designations></app-designations>
            </div>
            <div class="col-12"  *ngIf="currentComponent == 'faculties'" >
              <app-faculty></app-faculty>
            </div>
            <div class="col-12"  *ngIf="currentComponent == 'departments'" >
              <app-department></app-department>
            </div>
            
          </div>


    </div>