<div class="container-fluid">
  <nav class="navbar navbar-expand-lg custom-header-background px-3 py-1 border-bottom">
      <div class="container-fluid">
          <!-- Navbar Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Logo -->
          <a class="navbar-brand ms-2" routerLink="/home">
              <img src="/LogoSuppliesHeader.svg" alt="logo-supplies" height="35px">
          </a>

          <!-- Navbar content -->
          <div class="collapse navbar-collapse" id="navbarContent">
              <!-- Left section (Menu & Links) -->
              <ul class="navbar-nav me-auto ms-2">
                  <li class="nav-item">
                      <a class="nav-link text-dark btn btn-light mx-1" routerLink="/home" routerLinkActive="active">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark btn btn-light mx-1" routerLink="/supplyRequest" routerLinkActive="active">Supply Requests</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark btn btn-light mx-1">Procurement</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark btn btn-light mx-1">Reports</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-dark btn btn-light mx-1" data-bs-toggle="dropdown">Documents</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">PO</a></li>
                          <li><a class="dropdown-item" href="#">GRN</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Payment voucher</a></li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-dark btn btn-light mx-1" data-bs-toggle="dropdown">Logs</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Activity log</a></li>
                          <li><a class="dropdown-item" href="#">Audit log</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Stores log</a></li>
                      </ul>
                  </li>
              </ul>

              <!-- Right section (Icons & Logout) -->
              <div class="d-flex align-items-center">
                  <div class="btn-group-sm me-2">
                      <button type="button" class="btn btn-outline-secondary border-light rounded-circle" title="Contact support">
                          <i class="bi bi-question-circle" style="font-size: 24px;"></i>
                      </button>
                      <button type="button" class="btn btn-outline-secondary border-light rounded-circle" title="Notifications">
                          <i class="bi bi-bell" style="font-size: 24px;"></i>
                      </button>
                      <button type="button" routerLink="/settings" class="btn btn-outline-secondary border-light rounded-circle" title="Settings">
                          <i class="bi bi-gear" style="font-size: 24px;"></i>
                      </button>
                      <button type="button" class="btn btn-outline-secondary border-light rounded-circle" title="User">
                          <i class="bi bi-person-circle" style="font-size: 24px;"></i>
                      </button>
                  </div>
                  <button type="button" class="btn btn-outline-secondary ms-2">Sign out</button>
              </div>
          </div>
      </div>
  </nav>
</div>

<div class="container-fluid px-3">
  <router-outlet></router-outlet>
</div>
