
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Destinations List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Destination name</th>
                                    <th>Grade</th>
                               
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hello data</td>
                                    <td>Hello data</td>
                               
                                </tr>
                                <tr>
                                    <td>Hello data</td>
                                    <td>Hello data</td>
                                  
                                </tr>
                                <tr>
                                    <td>Hello data</td>
                                    <td>Hello data</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Create new destination
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <label  class="form-label" >Destination name</label>
                            <input type="text" formControlName="projectName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label  class="form-label" >Grade</label>
                            <input type="text" formControlName="projectName" class="form-control">
                        </div>
                        <div class="col-6">
                            <div class="my-3">
                                <button type="submit" class="btn btn-outline-success me-4">Create destination</button>
                            </div>

                        </div>
                    </div>
                </form>
</div>
