<fieldset>
 

    <div class="card border-success mb-2">
        <div class="card-header ">
            <legend class="card-text "><small class="text-success"> Supplies Division Review </small></legend>
        </div>
        <div class=" ps-2 pt-2">On behalf of the supplies division, I confirm that above items are approved to be included in the 
            procurement plan & estimated cost is as mentioned below.
            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">Fund allocation:</span>
                            <input type="text" aria-label="First name" class="form-control" placeholder="Name of the fund">
                            <input type="text" aria-label="Last name" class="form-control" placeholder="Estimated cost">
                            <input type="text" aria-label="Last name" class="form-control" placeholder="Procurement plan no">
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label  class="form-label">Name of approver for the supplies division </label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date approved</label>
                        <input type="date" class="form-control" >
                        
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label  class="form-label">Email</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employee code ( for Signature)</label>
                        <input type="password" class="form-control" >
                        
                    </div>
                </div>
                <div class="col-4">
                    
                    <div class="mb-3">
                        <label class="form-label">Designation</label>
                        <input type="text" class="form-control" >
                        
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Comments</label>
                        <textarea type="text" class="form-control" > </textarea>
                    </div>
                </div>
               
               
                <div class="col-4">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">Contact Information</span>
                            <input type="text" aria-label="First name" class="form-control" placeholder="Extension">
                            <input type="text" aria-label="Last name" class="form-control" placeholder="Mobile No">
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-8">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success me-4">Approve as a procurement</button>

                        <button type="submit" class="btn btn-outline-success me-4">Save as draft</button>
                        <button type="submit" class="btn btn-outline-danger me-4">Decline the request</button>
                        
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>




</fieldset>
