
<app-alert [alertMessage]="'No new notifications!'" [alertType]="'info'"></app-alert>

<div class="container">

    

<div class="container">

    <div class="row">
        <div class="col-3 my-3">
            <div class="card text-center custom-onsurface px-1 py-3 " >
                <div class="card-body">
                  <h4 class="card-title mb-4 title-small">Supply Requests</h4>
                  <a  class="card-link btn btn-outline-success" routerLink="/supplyRequest">View Requests</a>
                  <!-- <a  class="card-link btn btn-success">Create</a> -->
                </div>
            </div>
        </div>
        <div class="col-3 my-3">
            <div class="card text-center custom-onsurface px-1 py-3 " >
                <div class="card-body">
                  <h4 class="card-title mb-4 title-small">Reports</h4>
                  <a href="#" class="card-link btn btn-outline-success">View reports</a>
                  <!-- <a href="#" class="card-link btn btn-success">Create</a> -->
                </div>
            </div>
        </div>
        <div class="col-3 my-3">
            <div class="card text-center custom-onsurface px-1 py-3 " >
                <div class="card-body">
                  <h4 class="card-title mb-4 title-small">Vendors</h4>
                  <a href="#" class="card-link btn btn-outline-success">View vendors</a>
                  <!-- <a href="#" class="card-link btn btn-success">Create</a> -->
                </div>
            </div>
        </div>
        <div class="col-3 my-3">
            <div class="card text-center custom-onsurface px-1 py-3 " >
                <div class="card-body">
                  <h4 class="card-title mb-4 title-small">Procurement</h4>
                  <a href="#" class="card-link btn btn-outline-success">View Progress</a>
                  
                </div>
            </div>
        </div>
        <div class="col-3 my-3">
            <div class="card text-center custom-onsurface px-1 py-3 " >
                <div class="card-body">
                  <h4 class="card-title mb-4 title-small">View Logs</h4>
                  <a href="#" class="card-link btn btn-outline-success">Audit log</a>
                  <a href="#" class="card-link btn btn-outline-success">Stores log</a>
                </div>
            </div>
        </div>
        <div class="col-3 my-3">
            <div class="card text-center custom-onsurface px-1 py-3 " >
                <div class="card-body">
                  <h4 class="card-title mb-4 title-small">Users</h4>
                  <a href="#" class="card-link btn btn-outline-success">Manage users</a>
                </div>
            </div>
        </div>
        <div class="col-3 my-3">
            <div class="card text-center custom-onsurface px-1 py-3 " >
                <div class="card-body">
                  <h4 class="card-title mb-4 title-small">User Activity</h4>
                  <a href="#" class="card-link btn btn-outline-success">Check activity log</a>
                </div>
            </div>
        </div>
        <div class="col-3 my-3">
            <div class="card text-center custom-onsurface px-1 py-3 " >
                <div class="card-body">
                  <h4 class="card-title mb-4 title-small">Settings</h4>
                  <a href="#" class="card-link btn btn-outline-success" routerLink="/settings">Set application settings</a>
                </div>
            </div>
        </div>
      
        
        
       
       
    </div>
</div>


</div>