<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header custom-table-header-background">
                List of Departments
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="">
                                <tr>
                                    <th class="table-success">Department name</th>
                                    <th class="table-success">Code</th>
                                    <th class="table-success">Faculty name</th>
                                    <th class="table-success"></th>

                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let departmentObj of departmentList; let i = index">
                                    <td>{{departmentObj.departmentName}}</td>
                                    <td>{{departmentObj.code}}</td>
                                    <td>{{departmentObj.faculty.facultyName}}</td>
                                    <td class="text-center ">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                                            <button (click)="onEdit(departmentObj)"
                                                class="btn btn-outline-secondary me-md-2 btn-sm"
                                                type="button">Edit</button>
                                            <button (click)="onDelete(departmentObj.id)"
                                                class="btn btn-outline-danger btn-sm" type="button">Delete</button>
                                        </div>

                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-header custom-table-header-background">
                Create new department
            </div>
            <div class="card-body">
                <form [formGroup]="departmentForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="departmentName" class="form-label">Department name</label>
                            <input id="departmentName" type="text" formControlName="departmentName"
                                class="form-control" required>
                            @if(departmentForm.controls['departmentName'].touched){
                            <div class="form-text text-danger">
                                @if(departmentForm.controls['departmentName'].errors?.['required']){
                                <span>
                                    Required*
                                </span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="code" class="form-label">Code</label>
                            <input id="code" type="text" formControlName="code" class="form-control">
                            @if(departmentForm.controls['code'].touched){
                            <div class="form-text text-danger">
                                @if(departmentForm.controls['code'].errors?.['maxlength']){
                                <span>
                                    Maximum length 5 characters.
                                </span>
                                }
                            </div>
                            }
                        </div>


                        <div class="col-6">
                            <label for="facultyName" class="form-label">Faculty Name</label>
                            <!-- <input id="code" type="text" formControlName="facultyName" class="form-control" [readOnly]="true"> -->
                            <select formControlName="faculty" id="faculties">
                                <option *ngFor="let faculty of facultyList" [ngValue]="faculty">
                                    {{faculty.facultyName}}
                                </option>
                            </select>

                            <!-- @if(departmentForm.controls['facultyName'].touched){
                            <div class="form-text text-danger">
                                @if(departmentForm.controls['facultyName'].errors?.['required']){
                                <span>
                                    Required*
                                </span>
                                }
                            </div>
                            } -->
                        </div>
                        

                        <div class="row mt-3">
                            <div class="col-12 d-flex flex-wrap gap-2">
                                <button type="submit" [disabled]="departmentForm.invalid" (click)="onSaveDepartment()"
                                    class="btn small btn-success me-4  px-5">{{isEditMode && departmentForm.valid  ? 'Update' : 'Create'}}
                                </button>


                                <button type="reset" 
                                    (click)="departmentForm.reset()"
                                    class="btn small btn-outline-success me-4  px-4">Reset
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>