<nav class="navbar navbar-expand-sm   custom-header-background px-3 py-1 border-bottom">
  <div class="container-fluid">

        <!-- dropdown menu -->
         <div class="btn-group-sm dropdown" role="group" aria-label="Button group">
            <button type="button" data-bs-toggle="dropdown" aria-expanded="false" class="btn dropdown-toggle btn-outline-secondary border-light me-2" title="View menu">
              <i class="material-icons">menu</i>
            </button>
  
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="#">Supply requests</a></li>
              <li><a class="dropdown-item" href="#">Procurement</a></li>
              <li><a class="dropdown-item" href="#">Reports</a></li>
            </ul>
          </div>

          <!-- logo -->
          <a class="navbar-brand ms-2" routerLink="/home">
            <img  src="/LogoSuppliesHeader.svg" alt="logo-supplies" height="35px">
          </a>
       
          <!-- navigation links - center -->
        <div class="collapse navbar-collapse me-auto ms-2" id="mynavbar">

          <!-- center content -->

            <ul class="navbar-nav">
              <li class="nav-item" >
                  <a class="nav-link text-dark btn btn-light mx-1 text-dark"  routerLink="/home" routerLinkActive="active" >Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-dark btn btn-light mx-1 " routerLink="/supplyRequest" routerLinkActive="active">Supply Requests</a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link text-dark btn btn-light mx-1"  >Procurement</a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link text-dark btn btn-light mx-1" >Reports</a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link text-dark btn btn-light mx-1" >Vendors</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark btn btn-light mx-1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Documents
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">PO</a>
                  <a class="dropdown-item" href="#">GRN</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Payment voucher</a>
                </div>
              </li>
              <li class="nav-item" >
                  <a class="nav-link text-dark btn btn-light mx-1" routerLink="/users" routerLinkActive="active"  >Users</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark btn btn-light mx-1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Logs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Activity log</a>
                  <a class="dropdown-item" href="#">Audit log</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Stores log</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled text-secondary " >Accounts</a>
              </li>
          </ul>
        </div>
            
        




          <!-- right section-->
          <div class="d-flex">


            <!-- search -->
            <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control border-light custom-header-background small" type="search" placeholder="Search" aria-label="Search">
            </form> -->

            <div class="btn-group-sm mx-2" role="group" aria-label="Button group">
              
              <button type="button" class="btn btn-outline-secondary border-light rounded-circle ms-2"  title="Contact support" >
                <i class="material-icons">contact_support</i>
              </button>
              <button type="button" class="btn btn-outline-secondary border-light rounded-circle ms-2" title="Notifications">
                <i class="material-icons">notifications</i>
              </button>
              <button type="button" class="btn btn-outline-secondary border-light rounded-circle ms-2" title="Settings">
                <i class="material-icons">settings</i>
              </button>
              <button type="button" class="btn btn-outline-secondary border-light rounded-circle ms-2" title="User">
                <i class="material-icons">account_circle</i>
              </button>
              
            </div>
      
            <!-- signout button -->
            <button type="button" class="btn btn-outline-secondary ms-2 small">
              Sign out
            </button>

          </div>

    
  </div>  
</nav>



<div class="container-fluid">


  <router-outlet></router-outlet>

</div>



  
