


<section class="h-100 custom-primary">
    <div class=" text-start px-3">
        <img src="/LogoSupplies.png" alt="" width="180px">
    </div>
    <div class="container  mt-5 ">
      
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-white pt-3" style="border-radius: 1.5rem;">
            <div class="card-body p-5 text-center">
  
              
                    <!-- <img src="../../../../public/Logo.svg"  alt="" width="72" height="57" > -->
                    <h1 class="h3 mb-3 fw-normal text-start mb-5">Sign in</h1>
                
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating my-2">
                      <input type="password" class="form-control " id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
                
                    <div class=" text-start small mt-3 mb-5">
                    <a href="#" class="link-secondary">Forgot password</a>
                    </div>
                    <button class="btn btn-secondary w-100 py-2 my-2"  style="border-radius: 1rem;" type="submit">Sign in</button>
                    <a  href="#" class=" link-secondary  mb-1 small ">Need help?</a>
                






             
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


        
    




