<div class="container-fluid">
  <div class="row">
    <!-- nav toolbar for internal navigation -->
    <div class="btn-toolbar mx-2 py-1 mb-1  " role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">

        <!-- <button type="button" style="font-size: 14px;" (click)="changeTab('table')"
          [ngClass]="currentComponent == 'table' ? 'btn custom-hover' : 'btn btn-light'">
          View Supply Requests
        </button> -->

      </div>

      <a class=" text-dark btn btn-light mx-1 btn-sm" routerLink="/supplyRequest/supplyTable"
        routerLinkActive="active">View Supply Requests</a>

      <a class=" text-dark btn btn-light mx-1 btn-sm" routerLink="/supplyRequest/dForm"
        routerLinkActive="active">Department Request Form</a>

      <a class=" text-dark btn btn-light mx-1 btn-sm" routerLink="/supplyRequest/fForm"
        routerLinkActive="active">Faculty Approval Form</a>

      <a class=" text-dark btn btn-light mx-1 btn-sm" routerLink="/supplyRequest/sForm"
        routerLinkActive="active">Supplies Approval Form</a>

      <a class=" text-dark btn btn-light mx-1 btn-sm" routerLink="/supplyRequest/supplyForm"
        routerLinkActive="active">View Supply Form</a>

      <!-- <ul class=" custom-dropdown-menu custom-ul" aria-labelledby="btnGroupDrop1">
      <li><a class="custom-dropdown-item" href="#">Approved</a></li>
      <li><a class="custom-dropdown-item" href="#">In progress</a></li>
      <li><a class="custom-dropdown-item" href="#">Declined</a></li>
      <li><a class="custom-dropdown-item" href="#">Closed</a></li>
    </ul> -->

   
    </div> 

  </div>
</div>





<div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>




<!-- <div class="row">
    <div class="col-12" *ngIf="currentComponent == 'form' ">
      <app-supply-form></app-supply-form>
    </div>
    <div class="col-12" *ngIf="currentComponent == 'table'">
      <app-supply-table></app-supply-table>
    </div>
  </div> -->



